body {
  background: white;
  height: 100%;
  margin-bottom: 10px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh;

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
        
    }
}

ul.nav li a, ul.nav li a:visited {
    color: black !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

ul.nav li.active a {
    color: black !important;
}

p {
    color: black !important;

}

.navbar-default {
  margin-bottom: 0px;
}

.section {
  margin-top: 24px;
}

.section-title {
  font-size: 25px;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

.little-paragraph {
  margin: auto;
  max-width: 400px;
}

.img-thumbnail {
  margin: 15px;
}

.navbar-default{
  background: transparent;
  border-color: transparent;
}

.navbar-collapse {
  background: white;
}

.portfolio-row {
}

.portfolio-item {
    padding: 30px; /* WARNING: this can be changed in the javascript */
    margin-bottom: 20px;
    background-color: #ffffff;
}

.portfolio-item:hover {
    background-color: #E1EAE8;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.image-text {
  float: right;
  margin-left: 20px;

}