.jumbotron {
    text-align: center;
    background-color: transparent;
    font-family: 'Darker Grotesque', sans-serif;
    padding: 10px;
    height: 500px;
    position: relative;

    .about-img {
        width: 250px;
    }

    .robot-arm {
        position: absolute;
        top: 30%;
        height: 50%;
        width: 15%;
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url("/assets/images/bracciocolorato.png");

        x-transition: all 1s ease-in-out;
        animation: robot-arm-animation 4s infinite;

        @media screen and (max-width: $screen-tablet) {
            display: none;
        }
    }

    @keyframes robot-arm-animation {
        0% {
          width: 10%;
        }
        50% {
          width: 20%;
        }
        100% {
          width: 10%;
        }
    }

    .left-robot-arm {
        left: 0px;
    }

    .right-robot-arm {
        transform: rotate(180deg);
        //left: 0px;
        right: 0px;
    }

    h1 {
        font-weight: 500;
        font-size: 3em;
        margin-top: 13px;

        @media screen and (max-width: $screen-tablet) {
            font-size: 2em;
        }

        @media screen and (min-width: $screen-tablet) {
            animation: title-arm-animation 4s infinite;
        }
    }

    @keyframes title-arm-animation {
        0% {
            transform: rotate(0deg);
        }
        30% {
            transform: rotate(5deg);
        }
        60% {
            transform: rotate(5deg);
        }
        100% {
            transform: rotate(0deg);
        }
      }

    .title-container {
        margin: auto;
        max-width: 750px;
    }
}

h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.spacer {
    height: 60px;
}

.about-card {
    img {
        width: 120px;
        margin: 0px 0 20px 0;
    }
}