footer {
    padding: 25px 0 15px 0;
    background-color: transparent;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1em;

    h5 {
        color: $lightColor;

        @media screen and (max-width: $screen-tablet) {
            margin-top: 20px;
        }
    }

    p {
        font-family: 'Darker Grotesque', sans-serif;

        color: $normalColor;
    }

    .footer-profile-image {
        width: 35%;
    }

    .social-bar {
        list-style-type: none;
        margin: auto;
        display: inline-block;
    
        li {
            float: left;
            margin: 5px;
        }
    }

    .email-link {
        color: $lightColor;
        font-size: 1.2em;
    }
}

.footer-container {
    background-color: $darkGrayColor;
    margin-top: 50px;
}

.bottom-paragraph {
    background-color: $darkColor;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}
