@import 'colors.scss';
@import 'sizes.scss';
@import 'navigation.scss';
@import 'about.scss';
@import 'buttons.scss';
@import 'portfolio.scss';
@import 'blog.scss';
@import 'footer.scss';

body {
    padding: 0px;
}

.container {
    p {
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.25em;
        line-height: 1.3em;
    }
    
    ul {
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.25em;
        line-height: 1.3em;
    }
}

.page-title {
    text-align: center;
    margin: 35px 0 27px 0;
}

.medium-link {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
}

.social-icon {
    width: 30px;
}

.decorative-img {
    height: 150px;
}