$logoImgSize: 100px;
$logoImgSizeSmall: 50px;

.heading {
    
    font-family: 'Darker Grotesque', sans-serif;

    .logo-img {
        width: $logoImgSize;
        height: $logoImgSize;
        float: left;
        margin-right: 0px;
        display: block;

        @media screen and (max-width: $screen-tablet) {
            width: $logoImgSizeSmall;
            height: $logoImgSizeSmall;
        }
    }

    h1 {
        display: inline-block;
        font-size: 3em;
        font-weight: 700;
        line-height: 1em;
        margin: 5px 0 0 0;

        @media screen and (max-width: $screen-tablet) {
            font-size: 2em;
            margin: 0;
        }
    }

    h4 {
        display: inline-block;
        text-align: left;
        font-size: 1.5em;
        font-weight: 400;     
        margin-left: 2px;   
        
        @media screen and (max-width: $screen-tablet) {
            display: none;
        }
    }

    li {
        float: left; 
        list-style: none;
        margin: 0 10px 0 10px;
    }

    ul {
        margin-right: 20px;
    }

    .nav-link {
        font-size: 1.5em;
        color: $mainColor;

        &:hover {
            color: $accentColor;
            text-decoration: none;
        }
    }

    .active {
        font-weight: 700;
    }
}

.navbar {
    @media screen and (max-width: $screen-tablet) {
        padding-left: 0;
    }
}