/* darker-grotesque-regular - latin */
@font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/darker-grotesque-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Darker Grotesque Regular'), local('DarkerGrotesque-Regular'),
         url('../fonts/darker-grotesque-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/darker-grotesque-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/darker-grotesque-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/darker-grotesque-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/darker-grotesque-v1-latin-regular.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-500 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/darker-grotesque-v1-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Darker Grotesque Medium'), local('DarkerGrotesque-Medium'),
         url('../fonts/darker-grotesque-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/darker-grotesque-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/darker-grotesque-v1-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/darker-grotesque-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/darker-grotesque-v1-latin-500.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-700 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/darker-grotesque-v1-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Darker Grotesque Bold'), local('DarkerGrotesque-Bold'),
         url('../fonts/darker-grotesque-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/darker-grotesque-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/darker-grotesque-v1-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/darker-grotesque-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/darker-grotesque-v1-latin-700.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }