html {
  --content-primary: #1a1a1a;
  --content-primary-inverted: #ffffff;
  --accent-primary: #c84c32;
  --accent-secondary: #2e4364;
  --accent-tertiary: #ecdbba;
  --accent-menu: #2e4364;
  --background-primary: #ffffff;
  --background-elevated: #f1f1f1;
  --background-semitransparent: rgba(255, 255, 255, 0.7);
  --details: rgba(26, 26, 26, 0.1);
}

html[data-theme='dark'] {
  --content-primary: #ffffff;
  --content-primary-inverted: #1a1a1a;
  --accent-primary: #ef6b50;
  --accent-secondary: #8bb8ff;
  --accent-tertiary: #ecdbba;
  --accent-menu: #ffffff;
  --background-primary: #000000;
  --background-elevated: #343434;
  --background-semitransparent: rgba(0, 0, 0, 0.7);
  --details: rgba(255, 255, 255, 0.1);
}
