html {
  --content-primary: #1a1a1a;
  --accent-primary: #c84c32;
  --accent-secondary: #2e4364;
  --accent-tertiary: #ecdbba;
  --background-primary: #ffffff;
  --background-semitransparent: rgba(255, 255, 255, 0.7);
  --details: rgba(26, 26, 26, 0.1);
}
