<!doctype html>
<html>
<!--

Hi there, thanks for checking out my website!

Hope you like it! :)

-->
  <head>
    <meta charset="utf-8">
    {% assign pagetitle = "" %}
    {% if page.title and page.hideTitle == False %}
    {% assign pagetitle = page.title | append: " - " %}
    {% endif %}
    <title>{{pagetitle}}{{ site.title }} - {{ site.subtitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% seo %}
    
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/fonts/open-iconic-master/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}    

    {% unless page.avoidContainer %}
    <div class="container">
    {% endunless %}

    {% unless page.hideTitle or layout.hideTitle %}
    <h2 class="page-title">{{page.title}}</h2>
    {% endunless %}

    <script src="/assets/js/jquery-3.4.1.min.js"></script>

    {{ content }}

    {% unless page.avoidContainer %}
    </div>
    {% endunless %}

    
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>