---
layout: default
hideTitle: True
---
<div class="text-center">
    <h2 class="post-title">{{page.title}}</h2>
    <p class="text-center post-subtitle">{{ page.date | date_to_string }} - {{ page.author }}</p>

    {% if page.youtube %}
        <div class="embed-responsive embed-responsive-16by9 mb-4">
            <iframe src="{{page.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% else %}
        <img src="{{page.image}}" class="post-image img-fluid" />
    {% endif %}
</div>

<div class="post-content">
    {{ content }}
</div>



<div class="text-center">
    <h3 class="mt-5 mb-4">You may also like:</h3>    

    <div class="mt-5 row">
        {% assign posts = site.posts | where_exp:"post","post.url != page.url" %}
        {% for post in posts limit:4 %}
        <div class="col-lg-3 col-md-6">
            <a href="{{ post.url }}">
                <img src="{{post.image}}" class="related-post-img mb-4 img-fluid" alt="{{ post.title }}">
            </a>   
            <a href="{{ post.url }}">
                <h5 class="mt-2 mb-3">{{ post.title }}</h5>
            </a>    
            <p>{{ post.excerpt | strip_html | truncate: 100}}</p>
        </div>
        {% endfor %}
    </div>
</div>