body {
  background: white;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
        
    }
}

.img-header {
  margin-top: 60px;
}

ul.nav li a, ul.nav li a:visited {
    color: black !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

ul.nav li.active a {
    color: black !important;
}

p {
    color: black !important;
}



.navbar-default{
  background: white;
  border-color: white;
}