@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
        
    }
}

.img-header {
  margin-top: 60px;
}

body {
  background: white;
}

.navbar-default{
  background: white;
  border-color: white;
}